@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', sarif;
    overflow-x: hidden;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background: linear-gradient(to top, rgba(0,0,0,0.01) 0%, rgba(0,0,0,1) 94%);
    transition: all .3s ease-in;
    z-index: 2;
}

.scrolled {
    background-color: black;
}

nav.scrolled .logo-img {
    transform: scale(.9);
}

.logo-img {
    height: 75px;
    transition: all .3s;
}

.links a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 18px;
    transition: all .3s;
}

.links a:hover {
    color: #9D2C22;
    background-color: white;
}

nav.scrolled .links a:hover {
    color: white;
    background-color: #9D2C22;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url('./hero.jpeg');
    background-size: cover;
    background-position: bottom;
    background-repeat: none;
}

.menu {
    background-color: #eee;
    padding: 100px;
}

.menu hr {
    margin: 0 auto;
}

.menu-img {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-size: cover;
    overflow: hidden;
}

.img1 {
    background-image: url('./drink.jpeg');
}

.img2 {
    background-image: url('./noodle-bowl.jpeg');
}

.img3 {
    background-image: url('./bowls.jpeg');
}

.description {
    background-color: #9D2C22;
    color: white;
    height: 200px;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    z-index: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.left {
    transform: translateX(-200%);
    transition: all .3s ease-in-out;
    opacity: 0;
}

.right {
    transform: translateX(200%);
    transition: all .3s ease-in-out;
    opacity: 0;
}

.left.show {
    transform: translateX(15px);
    opacity: 1;
}

.right.show {
    transform: translateX(-15px);
    opacity: 1;
}

.order {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.order p {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    letter-spacing: .75px;
}

.button {
    background-color: #9D2C22;
    columns: white;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 20px 50px;
    border-radius: 5px;
    transition: all .3s;
}

.button:hover {
    background-color: #c73a2d;
}

.contact {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px
}

h3 {
    font-size: 40px;
    color: #9D2C22;
    letter-spacing: 3px;
    font-weight: 800;
    margin-bottom: 20px;
}

hr {
    border-color: #bbb;
    width: 5%;
    margin-bottom: 20px;
}

.contact h4 {
    font-size: 24px;
    margin-bottom: 15px;
}

.phone-number {
    color: #9D2C22;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 50px;
    background-color: black;
    color: white;
}

footer .text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

footer p {
    font-size: 20px;
}

footer a {
    margin-left: 20px;
}

.socials i {
    font-size: 40px;
    margin: 0 40px;
    transition: color .3s;
}

.socials i:hover {
    color: #9D2C22
}

@media screen and (max-width: 430px) {
    body {
        width: 100vw;
    }
    
    .menu {
        text-align: center;
    }

    hr {
        width: 40%;
    }

    .menu-item {
        flex-direction: column;
    }

    .menu :nth-child(4) {
        flex-direction: column-reverse;
    }

    .left.show, .right.show {
        transform: translateX(0);
    }

    .description, .menu-img {
        width: 100vw;
        border-radius: 0px;
    }

    #menu-button {
        padding: 20px 35px;
    }

    .order {
        text-align: center;
    }

    .contact {
        text-align: center;
    }

    .contact h3 {
        font-size: 30px;
    }

    .text {
        flex-direction: column;
        text-align: center;
    }

    .text a {
        margin-top: 30px;
    }

    .socials i {
        margin: 0 20px;
    }
}